---
import Layout from "../layouts/Layout.astro";
import SubscriptionSection from "../components/starlink/Subscription";
import DeviceSection from "../components/starlink/Device";
// global styles loaded via Layout
---

<Layout
  goBackTo="/starlink"
  title="Starlink Dashboard"
  description="Dashboard de Starlink"
>
  <main
    class="w-[90%] sm:w-full sm:pl-[calc(5%_+_112px)] sm:pr-[5%] mt-[9.5rem] mb-24 mx-auto"
  >
    <SubscriptionSection client:load />

    <DeviceSection client:load title="Dispositivo 1" deviceId="KITP3340" />

    <DeviceSection client:load title="Dispositivo 2" deviceId="KITP2120" />
  </main>
</Layout>

<style>
  @media (width >= 940px) {
    main {
      margin: 9.5rem 0 6rem 0rem;
    }
  }
</style>
