---

---

<main>
  <section class="login-wrapper recovery-wrapper">
    <h1 class="page-title">Recuperar Contraseña</h1>

    <section class="login-card recovery-card">
      <h2 class="card-subtitle">Ingresa tu correo electrónico</h2>

      <form class="login-form" id="recoveryForm">
        <div class="input-group">
          <input type="email" id="email" placeholder=" " required />
          <label for="email">Correo Electrónico</label>
        </div>

        <button type="button" class="btn-primary" id="sendRecoveryBtn"
          >Enviar</button
        >
      </form>
    </section>
  </section>
  <div class="recovery-message" id="recoveryMessage">
    <p>
      Se enviará un correo electrónico a la dirección ingresada con un link para
      recuperación de contraseña
    </p>
  </div>
</main>

<script>
  const btnSend = document.getElementById("sendRecoveryBtn");
  const messageBox = document.getElementById("recoveryMessage");
  function showSuccessMessage() {
    messageBox?.classList.add("show-recovery-message");

    // Ocultar el mensaje después de 2 segundos
    setTimeout(() => {
      messageBox?.classList.remove("show-recovery-message");
    }, 3000);
  }
  btnSend?.addEventListener("click", () => {
    // Aquí iría la lógica para enviar el correo de recuperación
    showSuccessMessage();
  });
</script>

<style>
  :root {
    --azul-oscuro: #16213e;
    --blanco-06: rgba(255, 255, 255, 0.6);
  }

  main {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .login-wrapper.recovery-wrapper {
    width: 90%;
    max-width: 20rem;
    margin: auto;
    color: var(--blanco-08);
    font-size: 0.875rem;
    font-family: "Muli";
    overflow: hidden;
    z-index: 1;
  }
  .page-title {
    font-weight: 300;
    text-align: center;
  }

  .login-card.recovery-card {
    width: 100%;
    border: 1px solid var(--blanco-06);
    border-radius: 1.5rem;
    background: var(--azul-primario-096);
    color: var(--blanco-08);
    padding: 2.5rem 1.5rem;
    box-sizing: border-box;
  }

  .card-subtitle {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    margin: 0 0 1.25rem;
    letter-spacing: 1px;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .input-group {
    position: relative;
    width: 100%;
    height: 3.25rem;
  }

  .input-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid var(--blanco-06);
    border-radius: 15px;
    color: var(--blanco-total);
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .input-group label {
    position: absolute;
    left: 12px;
    top: 16px;
    background: var(--azul-primario-096);
    transition:
      top 0.3s ease,
      font-size 0.3s ease;
    font-weight: 600;
    border-radius: 16px;
  }

  .btn-primary {
    background-color: var(--accent-cyan);
    color: var(--blanco-total);
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }

  .btn-primary:hover {
    background-color: var(--cyan-hover);
  }

  .btn-primary:active {
    transform: scale(0.98);
  }

  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    top: -8px;
    font-size: 0.8rem;
    background-color: var(--azul-oscuro);
    padding: 0 1rem;
    font-weight: 600;
    position: absolute;
  }

  .recovery-message {
    width: 90%;
    max-width: 20rem;
    height: fit-content;
    font-size: 0.9rem;
    line-height: 1.5;
    box-shadow: 0 5px 15px var(--negro-02);
    z-index: 10;
    box-sizing: border-box;
    inset: 0;
    background: var(--azul-primario-096);
    margin: 1rem auto 0;
    padding: 0.125rem 2rem;
    color: var(--bg-white);
    text-align: left;
    border: 1px solid var(--blanco-06);
    border-radius: 1.5rem;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      transform 0.3s ease,
      visibility 0.3s ease-in;
    position: absolute;
    z-index: -1;
  }

  .show-recovery-message {
    opacity: 1;
    transform: translateY(0);
    z-index: 10;
    position: unset;
  }

  @media (width >= 640px) {
    .page-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
</style>
